<ion-view title="{{navTitle}}" hide-nav-bar="false" hide-back-button="false">
  <ion-content class="BackgroundImage1">
    <div class="MainDiv" align="center">
    	<div class="Inside_MainDiv" style="width:95%;">
        	<img src="img/blog/blog.png" style="width:50%; margin-top:3px;" />
			<!--
            <img src="img/suppliers/search.jpg" style="width:100%; margin-top:20px;" />
			-->
            <!-- <div ng-repeat="item in Suppliers">
            <a href="#/app/article/0">-->
			
               <div class="blogDiv" ng-repeat="item in Blog" ng-click="navigateUrl('#/app/article/',$index)">
                    <p id="blogTitle">{{item.title}}</p>
                    <p id="blogLine"></p>
                  	<div id="blogRight">
                        <p id="blogFrom">מאת : {{item.author}}</p>
                        <p id="blogdesc" ng-bind-html="item.text | cutString_TitlePage:true:60"></p>
						<p id="blogFrom">תאריך : {{item.date}}</p>
						<!--
                        <a href="#/app/article/0">
                  		<p id="blogmore">המשך קריאה >></p>
						<!--
                        </a>
						-->
                    </div>
                    <div id="blogLeft">
                    	<img src="{{ImgHost}}/{{item.image}}" style="width:100%; margin-top:3px;" />
                    </div>
               </div>
			   
			   
               <!--
               <div class="blogDiv">
                    <p id="blogTitle">חתונות ראשון הטרנד החדש</p>
                    <p id="blogLine"></p>
                  	<div id="blogRight">
                        <p id="blogFrom">מאת : יובל גוב</p>
                        <p id="blogdesc">נדב זיגלמן, dj חובק עולם, מסיבות, מועדונים ואירועים החל את דרכו כרזידנט וכדי ג'יי מוביל במועדונים ישראליים כמו הטרמינל, הורטיגו, האולטרסאונד הTLV </p>
                        <p id="blogmore">המשך קריאה >></p>
                    </div>
                    <div id="blogLeft">
                    	<img src="img/blog/img.jpg" style="width:100%; margin-top:3px;" />
                    </div>
               </div>
			   -->
             <!-- </a>
            </div>-->
         </div>
    </div>
  </ion-content>
</ion-view>
