<ion-view view-title="" hide-nav-bar="false" hide-back-button="false" cache-view="false"> 
  <ion-content class="BackgroundImage1">

	<div align="center" style="margin-top:50px;">
	
	
		<div>
			<button class="button button-block button-positive" ui-sref="app.managedeal({ItemId: '-1'})"> 
			  הוספת דיל
			</button>		
		</div>
		
	
<div class="list">

  <div class="item item-button-right" ng-repeat="item in supplierDeals" >
    {{item.title}}


  <div class="buttons">
  
  
      <button class="button button-calm" ui-sref="app.managedeal({ItemId: $index})">
      <i class="icon ion-edit"></i>
      </button>
     
      <button class="button button-assertive" ng-click="deleteDeal($index,item.index)">
         <i class="icon ion-close"></i>
      </button>
 </div>




  </div>

 

</div>
			

	</div>

  </ion-content>
</ion-view>
