<ion-view title="{{navTitle}}" hide-nav-bar="false" hide-back-button="false" cache-view="false">
<ion-content>
        <div class="profileTabs">
        	 <ion-tabs class="tabs-top" style="overflow:hidden; direction:rtl !important">
                <!-- Tab 1 -->
                <ion-tab title="ספקים" class="tabSelected">
                    <ion-nav-view name="tab-tab1">
                        <ion-content style="top:80px; position:relative">
							<div ng-repeat="item in FavoriteSuppliers">
								<div class="rowDiv">
										<div class="LeftRowDiv">
										<!--
										ng-src="{{item |checkImgUrl:true}}"
										-->
											<img ng-src="{{starImg}}" ng-click="removeFavorite($index,item[0].index,0)" style="width:100%;" />
											<p id="favText">הסר מהמומלצים</p>
										</div>
											<div class="RightRowDiv" ui-sref="app.info({ArticleId: item[0].index})">
												<img src="{{host}}/{{item[0].image}}" style="width:100%;" />
											</div>
											<div class="CenterRowDiv" ui-sref="app.info({ArticleId: item[0].index})">
												<p id="rowName">{{item[0].name | stripslashes:true}}</p>
												<p id="rowName">{{item[0].address | stripslashes:true}}</p>
												<p id="rowAdress">{{item[0].catagoryname}}</p>
											</div>
								</div>
							 </div>

                        </ion-content>
    
                    </ion-nav-view>
                </ion-tab>
    
    
                <!-- Tab 2 -->
                <ion-tab title="הטבות"  class="tabSelected">
                    <ion-nav-view name="tab-tab2">
                        <ion-content style="top:80px; position:relative">
							<div ng-repeat="deal in NewDealsFavorites" my-repeat-directive>
								<div ng-click="navigateDeal(deal[0].index,deal[0].old_price,deal[0].price)">
									<div class="dealDiv">
										<img ng-src="{{host}}/{{deal[0].image}}" style="width:100%; position:relative; top:0; left:0; z-index:0;"  />
										<div id="percent">
											<div id="percentImg">
												<p id="percentText">&nbsp;{{deal[0].discount_precent}}% <br>הנחה</p>
												<img src="img/deals/percent.png" />
											</div>
										</div>
										<div id="overlayImage">
											<div id="overImg"></div>
											<div id="overlayRight">
												<p id="dealInfo1">{{deal[0].sapakname | stripslashes:true}}</p>
												<p id="dealInfo2">{{deal[0].title | stripslashes:true}} </p>
												<div id="dealInfo3" style="font-size:18px;">
													<span id="newPrice">{{deal[0].old_price}}</span> <span id="oldPrice">{{deal[0].price}} &#8362;</span>
												</div>
											</div>
											<div id="overlayLeft" style="">
												<img src="img/deals/date.png" style="height:70px; margin-top:5px; float:left; margin-left:20px;" />
												<div id="dateText" style="margin-right:35px;">
													<p id="dateText1">{{cutDate(deal[0].deal_date)}}</p>
													<p id="dateText2">{{cutYear(deal[0].deal_date)}}</p>
												</div>
											<div>
										</div>
									</div>
								 </div>
							 </div>
							<!-- </div>-->
						 </div>
					</div>
                        </ion-content>
                    </ion-nav-view>
                </ion-tab>
            </ion-tabs>
		</div>
</ion-content>
</ion-view>