<ion-view title="{{navTitle}}" cache-view="false" hide-back-button="true">

  <ion-nav-buttons side="left" >
	<div ng-click="goToChat()" style="top:10px; position:relative; " >
        <a class="item-icon-left" href="" style="padding-top:20px !important; position:absolute " > 	
        	<span class="badge badge-assertive" style="z-index:100; position:relative; top:-20px; right:15px;">{{MessageCount}}</span>
   		 	<i class="icon ion-ios-email-outline" style="color:white; font-size:30px !important; width:40px !important;  z-index:-1"></i>
  		</a>
	</div>
  </ion-nav-buttons> 
  
  
  <ion-content class="BackgroundImage">
    <div class="MainDiv" align="center">
    	<div class="Inside_MainDiv">
            <div class="cubesDiv">
            	<a href="#/app/Categories">
                    <div class="HeadreCubes">
                        <img src="img/main/b1.png" style="width:100%" />	
                    </div>
                </a>
                <div class="ButtonsCubes">
                	<a href="#/app/deals">
                        <div class="leftCube">
                            <img src="img/main/b2.png" style="width:100%" />
                        </div>
                    </a>
                    <a href="#/app/blog">
                        <div class="rightCube">
                            <img src="img/main/b3.png" style="width:100%" />
                        </div>
                    </a>
                </div>
                <div class="HeadreCubes">
                	<img src="img/main/line.png" style="width:100%" />	
                </div>
                <div class="HeadreCubes" ng-click="SmartAgentModal()">
                	<img src="img/main/b4.png" style="width:100%" />	
                </div>
            </div>
         </div>
    </div>
  </ion-content>
</ion-view>
