<ion-view view-title="" hide-nav-bar="false" hide-back-button="false"> 
  <ion-content class="BackgroundImage1">

	<div align="center" style="margin-top:50px;">
	
	
	<div class="list">
	  <label class="item item-input">
		<span class="input-label">כותרת הדיל</span>
		<input type="text" ng-model="fields.title">
	  </label>
	  
	  <label class="item item-input">
		<span class="input-label">תאריך הדיל</span>
		<input type="text" ng-model="fields.dealdate" onClick="(this.type='date')" onfocus="(this.type='date')">
	  </label>

	  <label class="item item-input">
		<span class="input-label">מחיר רגיל</span>
		<input type="tel" ng-model="fields.regprice">
	  </label>

	  <label class="item item-input">
		<span class="input-label">מחיר מבצע</span>
		<input type="tel" ng-model="fields.discount">
	  </label>

	  
	</div>
			
	<div class="padding">
			<button class="button button-block button-positive" ng-click="saveDeal()">שמירה</button>
	</div>
	  
	  
	</div>

  </ion-content>
</ion-view>
