<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content class="post-size-14px">
    <ion-nav-bar class="bar app-top-bar" style="height:70px !important;">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right" style="background-color:blue !important">
       <button class="button button-icon button-clear ion-navicon" 
            menu-toggle="left">
       </button>
      </ion-nav-buttons>
    </ion-nav-bar>
   

	
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  
  
  <ion-side-menu side="left" class="main-menu" >
      <ion-header-bar class="bar-stable" style="width:100%;">
      <h1 class="title" >תפריט</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>

	  
	  
        <ion-item menu-close ui-sref="app.deals" style="border-top:none !important;">
        	<div style="left:30px; position:relative">
          		<span style="top:-5px; margin-right:7px; position:relative">ראשי</span> <img src="img/menu_icons/home.png" style="width:15%; left:10px;  " />
            </div>
        </ion-item>
		
        <ion-item menu-close ui-sref="app.supplierlogin" style="border-top:none !important;">
        	<div style="left:30px; position:relative">
          		<span style="top:-5px; margin-right:7px; position:relative">התחברות ספק</span> <img src="img/menu_icons/home.png" style="width:15%; left:10px;  " />
            </div>
        </ion-item>

		

		<!--
         <ion-item class="item-icon-right" nav-clear menu-close href="http://www.tapper.co.il" >
          <img width="118"  height="49" style="float:right; right:30px; position:relative" src="img/tapperwhite.png" alt="" >
          <h2 class="menu-text" style="font-size:12px;"></h2>
        </ion-item>	
		-->

    </ion-list>
    </ion-content>
  </ion-side-menu>
  
  
  

  
  
  
</ion-side-menus>
	
  </ion-content>
  
