/* Empty. Add your own CSS if you like */

.BackgroundImage
{
	background-image:url('../img/back.jpg'); 
	background-size:100% 100%; 
	overflow:hidden
}

.MainDiv
{
	width:100%;
	overflow:hidden;
	margin-top:20px;
}

.Inside_MainDiv
{
	width:85%;
	margin-top:10px;
}

.loginForm div
{
	width:100%;
	margin-top:15px;
}

.bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}
 
.title-image
{
	width:140px;
	margin-top:-15px;
	margin-left:30px;
}

/* header */
.bar.bar-stable {
    background-color: #00c9c7;
    color: #f4f4f4;
}
.bar.bar-stable .title {
    background-color: #00c9c7;
    color: #f4f4f4;
}

.loginInput 
{
	position:relative;
	font-size:16px;
	font-weight:bold;
	color:white !important;
	padding-top:10px !important;
	padding-bottom:10px !important;
	height:50px !important;
	text-align:center;
	z-index:100;
	width:100%;
	background-color:transparent !important;
    border:2px solid white !important;
}

.AgentBox
{
	position:relative;
	font-size:16px;
	font-weight:bold;
	color:white !important;
	padding-top:10px !important;
	padding-bottom:10px !important;
	height:50px !important;
	text-align:center;
	z-index:100;
	width:101%;
	margin-left:-1px;
	
	color:white !important; 
	background-color:#dedad7 !important;
	height:70px;
	margin-top:5px !important;
}

.loginInputPink
{
	position:relative;
	font-size:16px;
	font-weight:bold;
	color:#00c9c7 !important;
	padding-top:10px !important;
	padding-bottom:10px !important;
	height:50px !important;
	text-align:center;
	z-index:100;
	width:100%;
	background-color:transparent !important;
    border:2px solid #00c9c7 !important;
}

/* Main Page  */

.cubesDiv
{
	overflow:hidden;
	margin-top:100px;
}

.HeadreCubes
{
	width:100%;
	overflow:hidden;
}

.leftCube
{
	float:left;
	width:49%;
}

.rightCube
{
	float:right;
	width:49%;
}


/* License Page*/


.LicenseRows
{
	overflow:hidden;
	width:100%;
	margin-top:20px;
}

.LicenseRows_text
{
	float:right;
	width:70%;
	text-align:right;
	direction:rtl;
	padding-right:10px;
	color:white;
}

.LicenseRows_text h3
{
	color:white;
}

.LicenseRows_text h4
{
	color:white;
	margin-top:-10px;
}

.LicenseRows_image
{
	float:left;
	width:27%;
	padding-left:10px;
}

.licenseLine
{
	margin-bottom:5px;
	width:100%;
}

.iIcon
{
	padding-right:10px;	
}

.licenseInput
{
	text-align:right;
	direction:rtl
}


.licenseIcon
{
	width:24px;
	margin-top:6px;
}

/* Suppliers Page*/

.rowDiv
{
	overflow:hidden;
	width:100%;
	margin-top:7px;
	text-align:right;
}

.LeftRowDiv
{
	width:45%;
	float:left;
	margin-top:-7px;
}

.RightRowDiv
{
	width:30%;
	float:right
}

.CenterRowDiv
{
	width:40%;
	float:right;
	margin-right:8px;
	margin-top:10px;
}

#rowName
{
	color:#22aab0;
	font-size:16px;
	font-weight:bold;
}

#SupplierName
{
	text-align:right;
	direction:rtl;
	color:#22aab0;
	font-size:19px;
	font-weight:bold;
	margin-top:30px;
}

#supplierInfo
{
	padding-bottom:120px;
	text-align:right;
	direction:rtl;
	color:#00c9c7 !important;
	font-size:14px;
	font-weight:bold;
	margin-top:10px;
}

#rowTitle
{
	margin-top:-5px;
	direction:rtl;
	color:#858585;
	font-size:12px;
}

#rowAdress
{
	margin-top:-7px;
	direction:rtl;
	color:#858585;
	font-size:13px;
}

#favText
{
	font-size:12px;
	text-align:center;
	font-weight:bold;
	color:#f1ae0d;
}


/* Info Page */

#infoHeader
{
	margin-top:-20px;
	text-align:right;
	direction:rtl;
	color:#858585;
	font-size:16px;
}

#infoHeader span
{
	text-align:right;
	font-weight:bold;
	direction:rtl;
	color:#00c9c7;
	font-size:16px;
}

#infoImg
{
	border:1px solid #cccac6;
}

#InfoAboutText
{
	text-align:right;
	direction:rtl;
	color:#00c9c7 !important;
	font-size:14px;
	font-weight:bold;
	margin-top:10px;
}


#infoFooter
{
	overflow:hidden;
	width:100%;
	bottom:0px;
	background-color:#e9e9e9;
	border-top:none !important;
}


#infoFooter_left
{
	float:left;
	width:130px;
}

#infoFooter_right
{
	float:right;
	width:130px;
}

/* Deal Page */

.dealDiv
{
	position:relative; 
	left:0; 
	top: 0;
	margin-top:15px;
}

#imgDeal
{
	
}


#percent
{
	width:100%;
	position:absolute;
	top:0px;
	overflow:hidden;
}

#percentImg
{
	position:relative;
	right:10px;
	float:right;
}

#percentImg img
{
	width:75%;
}

#percentText
{
	position:absolute;
	text-align:center;
	left:23%;
	padding-top:10px;
	line-height:0.8;
	font-weight:bold;
	font-size:28px;
	color:white;
}

#overlayRight
{
	float:right;
	width:70%;
}

#overlayLeft
{
	float:left;
	width:30%;
	z-index:100;
	position:relative;
	top:0px;
	left:0px;
	overflow:hidden;
}

#overlayImage
{
	width:100%;
	height:80px;
	position:absolute;
	bottom:5px;
	overflow:hidden;
	z-index:100;
}

#overImg
{
	width:100%;
	background-color:black;
	height:80px;
	opacity:0.4;
	position:absolute;
	bottom:0px;
	overflow:hidden;
	z-index:-1;
}

#dateImg
{
	position:relative;
	left:30px;
	top:0px;
	padding-top:7px;
	float:left;
	height:70px;
	width:30px;
}

#dateText
{
	height:70px; 
	margin-top:5px; 
	float:left; 
	margin-left:20px; 
	position:absolute
}

#dateText1
{
	margin-top:23px;
	font-size:20px;
	font-weight:bold;
	margin-left:9px;
	color:white;
}

#dateText2
{
	margin-top:-10px;
	font-size:14px;
	font-weight:bold;
	margin-left:11px;
	color:white;
}

#dateText3
{
	margin-top:-10px;
	font-size:14px;
	font-weight:bold;
	margin-left:-20px;
}

#dealInfo1
{
	text-align:right;
	font-size:20px;
	font-weight:bold;
	margin-right:10px;
	color:white;
	margin-top:7px;
}

#dealInfo2
{
	text-align:right;
	font-size:14px;
	font-weight:bold;
	margin-right:10px;
	color:white;
	margin-top:-7px;
}

#dealInfo3
{
	text-align:right;
	font-size:16px;
	margin-right:10px;
	color:white;
	margin-top:-7px;
	direction:rtl;
}

#newPrice
{
	text-decoration:line-through;
	color:#d6a82a;
}

.PriceDiv
{
	margin-top:-7px;
}

#oldPrice
{
	color:#D6D6D6;
}

#oldPrice1
{
	color:#22aab0;
	font-weight:bold;
}

.lineDeals
{
	height:1px;
	margin:5px 0 5px 0;
	width:100%;
	background-color:#e6e5e5;
}
/* Blog  */

.blogDiv
{
	color:#858585;
	border:1px solid #c9c7c3;
	margin-top:10px;
	text-align:right;
	direction:rtl;
	padding:10px;
	overflow:hidden;
}

#blogTitle
{
	font-size:17px;
	font-weight:bold;
	color:#22aab0;
}

#blogdesc
{
	font-size:13px;
	margin-top:-10px;
	line-height:1.1;
	padding-left:4px;
}

#blogLine
{
	width:100%;
	height:1px;
	margin-top:-3px;
	background-color:#c9c7c3
}

#blogRight
{
	float:right;
	width:65%;
	margin-top:-5px;
}

#blogLeft
{
	float:left;
	width:35%;
}

#blogmore
{
	margin-top:-10px;
}


#articleTitle
{
	font-size:18px;
	margin-top:5px;
	font-weight:bold;
	color:#22aab0;
	text-align:right;
}

.tabs-striped .tab-item {
    margin-top: 1px;
    font-size: 12px;
}

.tabs-striped .tab-item.tab-item-active, 
.tabs-striped > .tabs
{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.chatForm
{
	padding-bottom:220px;
}

.mainChat
{
	overflow:hidden;
	width:100%;
	
}

.chatImg
{
	float:left;
	width:20%;
}

.chatImg img
{
	margin-top:15px;
	width:70%;
	border-radius:60px;
}

.chatImg1
{
	float:right;
	width:20%;
}

.chatImg1 img
{
	margin-top:15px;
	width:70%;
	border-radius:60px;
}

.chatText
{
	float:right;
	width:75%;
	margin-right:4%;
	margin-top:20px;
}

.chatText1
{
	float:left;
	width:75%;
	margin-left:4%;
	margin-top:20px;
}

.chatBubble1
{
	background-color:#3cbeef;
	border-radius:5px;
	margin-top:5px;
	padding:5px 5px 0px 10px;
	min-height:30px;
	color:white;
	float:right;
	width:95%;
}

.chatBubble2
{
	background-color:#3ce2ff;
	border-radius:5px;
	margin-top:5px;
	padding:5px 5px 0px 10px;
	min-height:30px;
	color:white;
	float:left;
	width:95%;
}

.timeChat
{
	text-align:right;
	padding-right:3px;
	color:white;
}

.chatNavBar
{
	 height: 70px !important;
}

/* Like Page */

.likepageFont
{
	color:#999;
	font-weight:100 !important;
	font-size:15px !important;
	font-family:"Arial Black", Gadget, sans-serif;
	padding-top:7px;
}


.likeRepeat
{
	overflow:hidden;
	width:100% !important;
	border-right:none !important;
	border-top:none !important;
	padding-top:3px !important;
	padding-bottom:3px !important;
	padding-right:13px !important;
	font-size:5px;
}

.imgLike
{
	float:right;
	width:23%;
	margin-top:3px !important;
	margin-bottom:3px !important;
	padding:0px !important;
}


.imgLike img
{
	margin-top:1px;
	width:100%;
	border-radius:50%;
	height:2%;
	margin-left:5px;
	border:4px solid #1992cb;
}

.imgLike p
{
	margin-left:5px;
	width:100%;
	font-size:13px;
	color:#666;
	text-align:center;
	margin-top:-8px;
}

.textLike
{
	width:50%;
	float:right;
	padding-top:20px;
	text-align:center;
}

.iconsLike
{
	float:left;
	width:26%;
	padding-top:17px;
}

.likeLine
{
	width:95%;
	height:1px;
	background-color:#CCC;
	margin-top:-10px;
}

.searchInput
{
	width:100%;
	margin-top:20px;
}


.searchInputDiv
{
	width:90%;
}

.itemSelected
{
	background-color:#dedad7 !important;
	color:white !important;
	direction:rtl;
}

.itemSelectedLabel
{
	color:#01C9C7 !important;
}

.itemSelectedBox
{
	color:white !important; 
	background-color:#dedad7 !important;
	height:70px;
	margin-top:-10px !important;
}


.estimate_buttons
{
	width:100%;
	overflow:hidden;
	margin-top:10px;
}

.estimateRight
{
	width:49%;
	float:right;
}

.estimateLeft
{
	width:49%;
	float:left;
}


.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: 0.9;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0.9;
  }
}

.tabSelected
{
	border-bottom:1px solid #03F
}

.profileTabs
{
	width:100%;
	position:relative;
	margin-top:-47px;
	padding-top:0px;
}

.tab-item
{
	border-bottom:none !important;
}
.tab-item.tab-item-active, .tab-item.active, .tab-item.activated 
{
    color:#315caa;
	font-weight:bold;
	border-bottom:1px solid #315caa !important;
}



.statProfile
{
	padding-right:10px;
	padding-top:10px;
	background-color:white;
}

.statProfile h3
{
	font-size:16px;
	color:#929292;
}

.statProfile h4
{
	font-size:14px;
	color:#434343;
}

.statProfile h4 i
{
	font-size:18px;
	margin-left:5px;
	top:3px;
	position:relative;
}

.profileLine
{
	background-color:#eeeded;
	height:1px;
	width:100%;
	left:43px;
	position:relative
	margin:3px 0 3px 0;
}

#profileInfo
{
	padding:3px 10px 10px 50px;
	font-size:14px;
	line-height:1.4;
}
.popup-title 
{
	direction:rtl;
}
.loading
{
direction:rtl;
}


.dealsIcons
{
	width:100%;
	overflow:hidden;
	margin-top:20px;
}

.dealsIcon
{
	float:right;
	width:20%;
}