<ion-modal-view >
    <ion-header-bar align-title="center" class="bar-dark"  no-tap-scroll=true >
	<div ng-click='closeModal()' >
	      <button class="button button-clear" ng-click="closeAgent()">סגירה</button>
	<!--
 		<img src="img/main/back.png" style="width:50px; height:50px; margin-top:-8px; margin-left:-7px;">
	-->
    </div>
  <h1 class="title"><img src="img/logo.png"  class="title-image" style=""></h1>
  
</ion-header-bar>


  <ion-content >
  <!--
    <form ng-submit="doLogin()">
  -->
	 <div style="width:100%; margin-top:30px;" align="center">
            	<img src="img/iconlogo.png" style="width:25%" /><br />
                <img src="img/logoPink.png" style="width:35%" />
     </div>
     
        <div class="searchInput" align="center">
      		 <div class="searchInputDiv">
                    <div>
            	
               
                    <label class="item item-input item-select itemSelected" style="margin-top:5px;">
                    			<div class="input-label">
                              		מעוניינים לסגור
                            	</div>	
                                <select class="ion-input-select--large itemSelectedBox"  ng-model="agent.event">
                                    <option value="מקום לאירוע">מקום לאירוע</option>
                                    <option value="תקליטן">תקליטן</option>
                                    <option value="צלם">צלם</option>
                                    <option value="שמלת כלה">שמלת כלה</option>		
                                </select>   
                    </label>                
               
                	<label class="item item-input item-select itemSelected" style="margin-top:5px;">
                            <div class="input-label">
                              		אזור
                            </div>	
                            <select class="ion-input-select--large itemSelectedBox" ng-model="agent.area">
								<option value="חיפה והצפון">אזור חיפה והצפון</option>
								<option value="באר שבע והדרום">באר שבע והדרום</option>
								<option value="שפלה">שפלה</option>
								<option value="שרון">שרון</option>
								<option value="תל אביב וגוש דן">תל אביב וגוש דן</option>
								<option value="ירושלים והסביבה">ירושלים והסביבה</option>	
								<option value="הכל">הכל</option>
								
                            </select>	
                     </label>	     
             
                    <label class="item item-input item-select itemSelected" style="margin-top:5px;">
                                <div class="input-label">
                                        תקציב מקסימלי למנה
                                </div>	
                                <select class="ion-input-select--large itemSelectedBox" ng-model="agent.budget">
								    <option value="200">עד 200</option>
                                    <option value="300">עד 300</option>
                                    <option value="400">עד 400</option>
                                    <option value="400+">מעל 400</option>
									
                                </select>
                     </label>	     
				<!--
                    <label class="item item-input item-select itemSelected" style="margin-top:5px;">
                                <div class="input-label">
                                        כמות אורחים
                                </div>	
                                <select class="ion-input-select--large itemSelectedBox" ng-model="agent.guests">
								    <option value="100-200">100-200</option>
                                    <option value="200-300">200-300</option>
                                    <option value="300-400">300-400</option>
                                    <option value="400+">מעל 400</option>
									
                                </select>
                     </label>	
				-->
                  <label  style="top:15px;" >
                    <input type="text" placeholder="כמות אורחים" class="AgentBox" style="margin-top:35px;" ng-model="agent.guests">
                  </label>

                  <label  style="margin-top:5px;" >
                    <input type="text" placeholder="שם מלא" class="AgentBox" style="margin-top:5px;" ng-model="agent.name">
                  </label>

                  <label  style="margin-top:5px;">
                    <input type="text" placeholder="טלפון" class="AgentBox" style="margin-top:5px;" ng-model="agent.phone">
                  </label>
				  
                  <label  style="margin-top:5px;">
                    <input type="text" placeholder="מייל" class="AgentBox" style="margin-top:5px;" ng-model="agent.email">
                  </label>	
				  
                  <label  style="margin-top:5px;">
                    <input type="text" placeholder="הערות נוספות" class="AgentBox" style="margin-top:5px;" ng-model="agent.details">
                  </label>				  
				  
               <div align="center" style="margin-top:10px;" ng-click="SendDetailsBtn()">        	
							<img src="img/send1.png" style="width:100%; " />
					</div>          			
              
              

            </div>
         </div>
    </div> 
  
  
	<!--
    </form>
	-->
  </ion-content>
  
</ion-modal-view>
