<ion-view title="{{navTitle}}" hide-nav-bar="false" hide-back-button="false">
  <ion-content class="BackgroundImage">
    <div class="MainDiv" align="center">
    	<div class="Inside_MainDiv">
        	<img src="img/main/supplier.png" style="width:50%; margin-top:20px;" />
            <div class="cubesDiv" style="margin-top:60px;">
                <div class="HeadreCubes">
                    	<div class="leftCube"  ng-click="navigateUrl('#/app/suplliers/',2)">
                        	<img src="img/main/sup1.png" style="width:100%" />
                    	</div>
                    <div class="rightCube" ng-click="navigateUrl('#/app/suplliers/',0)">
                        <img src="img/main/sup2.png" style="width:100%" />
                    </div>
                </div>
                <div class="ButtonsCubes" style="margin-top:4px;">
                    <div class="leftCube" ng-click="navigateUrl('#/app/suplliers/',4)">
                        <img src="img/main/sup3.png" style="width:100%" />
                    </div>
                    <div class="rightCube" ng-click="navigateUrl('#/app/suplliers/',1)">
                        <img src="img/main/sup4.png" style="width:100%" />
                    </div>
                </div>
               
                
            </div>
         </div>
    </div>
  </ion-content>
</ion-view>
