<ion-view view-title="" hide-nav-bar="false" hide-back-button="false"> 
  <ion-content class="BackgroundImage1">

	<div align="center" style="margin-top:50px;">
	
	
		<div>
			<button class="button button-block button-positive" ui-sref="app.managedeal({ItemId: '-1'})"> 
			  הוספת דיל
			</button>		
		</div>
		
	
<div class="list">

  <div class="item item-button-right" ng-repeat="item in supplierDeals" ui-sref="app.managedeal({ItemId: $index})">
    {{item.title}}
    <button class="button">
      <i class="icon ion-edit"></i>
    </button>
  </div>

 

</div>
			

	</div>

  </ion-content>
</ion-view>
