<ion-view view-title="" hide-nav-bar="false" hide-back-button="true"> 
  <ion-content class="BackgroundImage">
   <!-- <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item> 
    </ion-list>-->
    <div class="MainDiv" align="center">
    	<div class="Inside_MainDiv">
            <!-- Header -->
            <div>
            	<img src="img/iconlogo.png" style="width:35%" /><br />
                <img src="img/logo.png" style="width:55%" />
            </div>
            <!-- Input Text -->
            <div class="loginForm">
            	<img src="img/connect.png" style="width:50%; margin-top:20px;" />
                <div>
                  <label>
                    <input type="text" placeholder='כתובת דוא"ל' class="loginInput" ng-model="login.email">
                  </label>
                  <label >
                    <input type="password" placeholder="סיסמה" class="loginInput" style="margin-top:5px; color:white;" ng-model="login.password">
                  </label>
                </div>
                <div>
                	<a href="#/app/register">
                    	<img src="img/new.png" style="width:48%; float:left" />
                    </a>
                    <img src="img/enter.png" style="width:48%; float:right" ng-click="LoginBtn()"/>
            	</div>
                <img src="img/or.png" style="width:7%; margin-top:8px" />
                <img src="img/face.png" style="width:97%; margin-top:8px" />
				 <img src="img/takanon.png" style="width:14%; margin-top:18px" ng-click="ForgotPass()" />
				 <p>
                <img src="img/takanon.png" style="width:14%; margin-top:18px" />
				</p>
            </div>
         </div>
    </div>
  </ion-content>
</ion-view>
