<ion-view title="{{navTitle}}" hide-nav-bar="false" hide-back-button="false">
  <ion-content class="BackgroundImage1">
    <div class="MainDiv" align="center">
    	<div class="Inside_MainDiv" style="width:90%;">
        	<img ng-src="{{imageCatagory}}" style="width:50%; margin-top:3px;" />
            <img src="img/suppliers/search.jpg" style="width:100%; margin-top:20px;" ng-show="showSearch" ng-click="SearchSupp()"/>
            <div ng-repeat="item in Suppliers">
                <div class="rowDiv">
                        <div class="LeftRowDiv" ng-click="addFavorite($index,item.index)">
						<!--
						ng-src="{{item |checkImgUrl:true}}"
						-->
                            <img ng-src="{{starImg}}"  style="width:100%;" />
                            <p id="favText">הוסף למומלצים</p>
                        </div>
                            <div class="RightRowDiv" ui-sref="app.info({ArticleId: item.index})">
                                <img src="{{host}}/{{item.image}}" style="width:100%;" />
                            </div>
                            <div class="CenterRowDiv" ui-sref="app.info({ArticleId: item.index})">
								<p id="rowName">{{item.name | stripslashes:true}}</p>
								<p id="rowAdress" style="font-weight:bold">{{item.address | stripslashes:true}}</p>
                                <p id="rowAdress">{{Catagoryname}}</p>
                            </div>
                </div>
             </div>
         </div>
    </div>
  </ion-content>
</ion-view>
