<ion-view view-title="" hide-nav-bar="false" hide-back-button="true"> 
  <ion-content class="BackgroundImage1">

	<div align="center" style="margin-top:50px;">
	
	
		<h1>{{suppliername}}</h1>
	

		<div>
			<button class="button button-block button-positive" ui-sref="app.deallist()"> 
			  ניהול דילים
			</button>		
		</div>
		
		
	

		

		<div style="margin-top:5px;" >
			<button class="button button-block button-assertive" ng-click="supplierLogout()">
			  התנתקות
			</button>		
		</div>

		

	</div>

  </ion-content>
</ion-view>
